*{
    margin: 0;
    padding: 0;
}

.header{
    background-color: black;
    height: 10vh;
    color: white;
    position: sticky;
    top: 0;
}
li{
    display: inline;
    font-size: 2vw;
    padding: 0 13px;
}
.cont{
    background-color: rgb(162, 126, 196);
min-height: 1200px;}